<ng-container *ngIf="character">
    <table>
        <ng-container *ngFor="let move of character.moves" [ngSwitch]="move.type">
            <ng-container *ngSwitchCase="'super'">
                <tr class="super">
                    <td colspan="2">
                        <div class="title combo">
                            <div class="type">Super</div>
                            <div class="vertical-align">
                                <div class="name">{{ move.name }}</div>
                                <div class="original-name">{{ move.originalName }}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <app-motions [motions]="move.motions || []"></app-motions>
                    </td>
                </tr>
                <tr class="special followup" *ngFor="let followUp of move.followUpList">
                    <td>
                        <mat-icon>subdirectory_arrow_right</mat-icon>
                    </td>
                    <td>
                        <div class="title vertical-align">
                            <div class="name">{{ followUp.name }}</div>
                            <div class="original-name">{{ followUp.originalName }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="motion">
                            <mat-icon *ngIf="move.motions?.length">control_point</mat-icon>
                            <app-motions [motions]="followUp.motions || []"></app-motions>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngSwitchCase="'ultra1'">
                <tr class="ultra">
                    <td colspan="2">
                        <div class="title combo">
                            <div class="type">Ultra 1</div>
                            <div class="vertical-align">
                                <div class="name">{{ move.name }}</div>
                                <div class="original-name">{{ move.originalName }}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <app-motions [motions]="move.motions || []"></app-motions>
                    </td>
                </tr>
                <tr class="special followup" *ngFor="let followUp of move.followUpList">
                    <td>
                        <mat-icon>subdirectory_arrow_right</mat-icon>
                    </td>
                    <td>
                        <div class="title vertical-align">
                            <div class="name">{{ followUp.name }}</div>
                            <div class="original-name">{{ followUp.originalName }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="motion">
                            <mat-icon *ngIf="move.motions?.length">control_point</mat-icon>
                            <app-motions [motions]="followUp.motions || []"></app-motions>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngSwitchCase="'ultra2'">
                <tr class="ultra">
                    <td colspan="2">
                        <div class="title combo">
                            <div class="type">Ultra 2</div>
                            <div class="vertical-align">
                                <div class="name">{{ move.name }}</div>
                                <div class="original-name">{{ move.originalName }}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <app-motions [motions]="move.motions || []"></app-motions>
                    </td>
                </tr>
                <tr class="ultra followup" *ngFor="let followUp of move.followUpList">
                    <td>
                        <mat-icon>subdirectory_arrow_right</mat-icon>
                    </td>
                    <td>
                        <div class="title vertical-align">
                            <div class="name">{{ followUp.name }}</div>
                            <div class="original-name">{{ followUp.originalName }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="motion">
                            <mat-icon *ngIf="move.motions?.length">control_point</mat-icon>
                            <app-motions [motions]="followUp.motions || []"></app-motions>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <tr class="special">
                    <td colspan="2">
                        <div class="title vertical-align">
                            <div class="name">{{ move.name }}</div>
                            <div class="original-name">{{ move.originalName }}</div>
                        </div>
                    </td>
                    <td>
                        <app-motions [motions]="move.motions || []"></app-motions>
                    </td>
                </tr>
                <tr class="special followup" *ngFor="let followUp of move.followUpList">
                    <td>
                        <mat-icon>subdirectory_arrow_right</mat-icon>
                    </td>
                    <td>
                        <div class="title vertical-align">
                            <div class="name">{{ followUp.name }}</div>
                            <div class="original-name">{{ followUp.originalName }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="motion">
                            <mat-icon *ngIf="move.motions?.length">control_point</mat-icon>
                            <app-motions [motions]="followUp.motions || []"></app-motions>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </table>
</ng-container>
