.country-flag {
    text-align: center;

    img {
        width: 250px;
        margin-top: 12px;
        max-width: calc(100% - 24px);
        text-align: center;
    }
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    app-character-details {
        display: block;
        width: 370px;
        max-width: 100%;
    }
}
