.country-flag .light {
    background: rgba(255, 255, 255, 0.7);
    min-height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > img {
        width: 250px;
        margin-top: 12px;
        max-width: calc(100% - 24px);
        text-align: center;
    }

    .other-countries-flags {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 12px 0;

        a img {
            height: 40px;
            margin: 3px 6px;
        }
    }
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        text-decoration: none;

        app-character-details {
            display: block;
            width: 370px;
            max-width: 100%;
        }
    }
}
