<h1 mat-dialog-title>{{ 'controls.title' | translate }}</h1>
<div mat-dialog-content>
    <table>
        <tr>
            <td><img src="assets/moves/P.png" /></td>
            <td>{{ 'controls.punch' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/P1.png" /></td>
            <td>{{ 'controls.light-punch' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/P2.png" /></td>
            <td>{{ 'controls.medium-punch' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/P3.png" /></td>
            <td>{{ 'controls.heavy-punch' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/Px3.png" /></td>
            <td>{{ 'controls.triple-punch' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/K.png" /></td>
            <td>{{ 'controls.kick' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/K1.png" /></td>
            <td>{{ 'controls.light-kick' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/K2.png" /></td>
            <td>{{ 'controls.medium-kick' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/K3.png" /></td>
            <td>{{ 'controls.heavy-kick' | translate }}</td>
        </tr>
        <tr>
            <td><img src="assets/moves/Kx3.png" /></td>
            <td>{{ 'controls.triple-kick' | translate }}</td>
        </tr>
        <tr>
            <td><mat-icon>menu_book</mat-icon></td>
            <td>
                <a target="_blank" href="https://www.capcom.com/manuals/sfiv/">{{ 'controls.manuals' | translate }}</a>
            </td>
        </tr>
    </table>
</div>
<div mat-dialog-actions>
    <button color="primary" mat-raised-button mat-dialog-close>
        <mat-icon>done</mat-icon>
    </button>
</div>
