<h1 mat-dialog-title>{{ 'update-app-dialog.title' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'update-app-dialog.texts.0' | translate }}</p>
  <p>
    {{ 'update-app-dialog.texts.1' | translate }}
    <mat-icon>system_update</mat-icon>
    {{ 'update-app-dialog.texts.2' | translate }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">{{ 'actions.do-later' | translate }}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">{{ 'actions.update' | translate }}</button>
</div>
