.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.title-container {
    display: flex;
    justify-content: center;

    img {
        height: 100%;
    }
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    overflow-x: auto;
}

.character-thumbnail {
    height: 44px;
    margin-right: 8px;
}

.spacer {
    flex: 1 1 auto;
}

.flagButton {
    text-align: center;

    .flag {
        max-height: 36px;
    }
}

.search {
    max-width: 100%;
}
