<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="isHandset ? 'dialog' : 'navigation'"
        [mode]="isHandset ? 'over' : 'side'"
        [opened]="isHandset === false"
    >
        <mat-toolbar class="title-container">
            <img src="assets/logo.png" alt="Menu" />
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="isHandset && drawer.close()" [routerLink]="['/sf4']">
                <mat-icon>view_module</mat-icon>
                {{ 'nav.list' | translate }}
            </a>
            <a
                mat-list-item
                (click)="isHandset && drawer.close()"
                *ngFor="let character of characters"
                [routerLink]="['/sf4', character.id]"
            >
                <img class="character-thumbnail" [src]="'assets/characters/' + character.id + '_thumbnail.png'" [alt]="character.name" />
                {{ character.name }}
            </a>
            <mat-list-item> v {{ version }} </mat-list-item>
            <mat-list-item>
                <github-button type="stargazers" size="large" namespace="ben-barbier" repo="street-fighter-moves"></github-button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{ 'nav.title' | translate }}</span>
            <span class="spacer"></span>
            <app-update-app-indicator></app-update-app-indicator>
            <button mat-icon-button (click)="openControls()">
                <mat-icon>sports_esports</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="i18nMenu">
                <mat-icon>translate</mat-icon>
            </button>
            <mat-menu #i18nMenu="matMenu">
                <button mat-menu-item class="flagButton" (click)="setLang('fr')">
                    <img class="flag" src="assets/countries/France.svg" alt="fr" />
                </button>
                <button mat-menu-item class="flagButton" (click)="setLang('en')">
                    <img class="flag" src="assets/countries/UK.svg" alt="en" />
                </button>
            </mat-menu>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
