<h1 mat-dialog-title>{{ 'controls.title' | translate }}</h1>
<div mat-dialog-content>
  <table>
    <tr>
      <td><img src="assets/motions/P.png" /></td>
      <td>{{ 'controls.punch' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/P1.png" /></td>
      <td>{{ 'controls.light-punch' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/P2.png" /></td>
      <td>{{ 'controls.medium-punch' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/P3.png" /></td>
      <td>{{ 'controls.heavy-punch' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/Px3.png" /></td>
      <td>{{ 'controls.triple-punch' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/K.png" /></td>
      <td>{{ 'controls.kick' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/K1.png" /></td>
      <td>{{ 'controls.light-kick' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/K2.png" /></td>
      <td>{{ 'controls.medium-kick' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/K3.png" /></td>
      <td>{{ 'controls.heavy-kick' | translate }}</td>
    </tr>
    <tr>
      <td><img src="assets/motions/Kx3.png" /></td>
      <td>{{ 'controls.triple-kick' | translate }}</td>
    </tr>
    <tr>
      <td><mat-icon>menu_book</mat-icon></td>
      <td>
        <a target="_blank" href="https://www.capcom.com/manuals/sfiv/">{{ 'controls.manuals' | translate }}</a>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button color="primary" type="button" mat-raised-button mat-dialog-close="true">
    {{ 'actions.ok' | translate }}
  </button>
</div>
